---
layout: 2022/list
section: proposals
permalink: 2022/misc/
title: Espacio misceláneo esLibre 2022
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Espacio misceláneo / Espazo de misceláneas / Miscellaneous space es<span class="red">Libre</span> 2022</strong></h1>
  </div>
</div>
<hr class="my-4">


<ul id="list">
  {% for misc in site.pages %}
  {% if misc.path contains '2022/misc' and misc.path contains '.md' and misc.category == 'misc' %}
  <li><a href="/{{ misc.path | remove_first: ".md" }}">{{ misc.author }} - {{ misc.title }}</a>
    {% endif %}
    {% endfor %}
</ul>
